.container {
    padding: 32px 20px;
    margin: auto;
    width: min(100%, 1440px);
    /* border: 9px solid rgb(111, 0, 255); */
    background-color: #1C5550;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
     "header header header header"
     "aside section1 section1 section2"
     "section3 section3 section3 section3 "
     "article1 article2 article3 article4"
     
    ;

    gap: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid red; */
    grid-area: header;
}

.ul1 {
    display: flex;
    column-gap: 20px;
}

a {
    color: #DFD9D9;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.icon_button {
    background-color: #1C5550;
}

.fa-solid {
    background-color: #1C5550;
    font-size: 32px;
}

aside {
    width: min(100%, 320px);
    padding: 38px 115px 54px 40px;
    line-height: 5px;
    border: 5px solid black;
    grid-area: aside;
}

h2 {
    color: #C3B97F;
}

.nav2 {
    height: 205px;
    display: flex;
}

.ul2 {
    row-gap: 5px;
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.section3 {
    grid-area: section3;
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

.article3 {
    grid-area: article3;
}

.article4 {
    grid-area: article4;
}

.example {
    width: 200px;
    height: 200px;
    background-color: bisque;
    border: 4px solid chartreuse;
}